include README.md
include LICENSE
include MANIFEST.in
include requirements.txt

recursive-include melanocyte_classifier *.py
recursive-include examples *.py
recursive-include docs *.rst *.md

global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.so
global-exclude *.tif
global-exclude *.tiff
global-exclude *.png
global-exclude *.jpg
global-exclude *.jpeg
global-exclude *.npy
global-exclude *.npz